{% load thumbnail %}

{% for produto in object_list %}
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" src="{% thumbnail produto.imagem 525x0 upscale %}" alt="Card image cap">
      <div class="card-body">
        <p <h3><strong class="card-text">{{ produto.nome }}</strong></h3></p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <a href="{{ produto.get_absolute_url }}"><button type="button" class="btn btn-sm btn-outline-secondary">Ver detalhes</button></a>
          </div>
          <strong class="card-text">R$ {{ produto.valor }}</strong>
        </div>
      </div>
    </div>
  </div>
{% endfor %}