{% extends "admin/base.html" %}

{% block title %}{{ title }} | Loja{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Loja</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
