{% load static %}
<!doctype html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/album.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}
  </head>
  <body>
    <header>
      {% block header %}
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-3 offset-md-1 py-4">
              <h4 class="text-white">Categorias</h4>
              <ul class="list-unstyled">
                {% for categoria in categorias %}
                  <li><a href="{{ categoria.get_absolute_url }}" class="text-white">{{ categoria }}</a></li>
                {% endfor %}
              </ul>
            </div>
            <div class="col-sm-2 offset-md-5 py-4">
              {% if user.is_authenticated %}
              <a href="/{{ user.pk }}/user/compras" class="text-white" style="text-decoration: none"><h4 class="text-white">Suas Compras</h4></a>
              {% endif %}
              <a href="{% url 'cadastro' %}" class="text-white" style="text-decoration: none"><h4 class="text-white">Cadastro</h4></a>
              <a href="{% url 'login' %}" class="text-white" style="text-decoration: none"><h4 class="text-white">Login</h4></a>
              <a href="{% url 'logout' %}" class="text-white" style="text-decoration: none"><h4 class="text-white">Logout</h4></a>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="/" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
            <strong>Loja</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
      {% endblock %}
    </header>
    <main role="main">
      {% if user.is_authenticated %}
        <div style="color: #343a40; text-align: right; padding: 20px; padding-bottom: 0px">
          <!--<strong>Bem vindo, {% firstof user.fist_name user.username %}</strong>-->
          <a href="{% url 'update_user' %}" class="text-blue" <strong> Bem Vindo, {% firstof user.fist_name user.username %}</strong></a>
        </div>
      {% endif %}

      {% block main %}
      {% endblock %}

    </main>
    <footer class="text-muted">
      {% block footer %}
      <div class="container text-center">
        <p>&copy; {% now "Y" %}</p>
      </div>
      {% endblock %}
    </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/holder.min.js' %}"></script>
    {% block js %}{% endblock %}
  </body>
</html>