{% extends "base.html" %}
{% load thumbnail static %}

{% block title %}{{ object }} - Loja{% endblock %}

{% block main %}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">{{ object }}</h1>
        {% comment %}
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
        <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
        {% endcomment %}
    </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row ajax-pagination" data-page='1' data-max_page="{{ paginator.num_pages }}" data-block='0'>
      {% for produto in object_list %}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{% thumbnail produto.imagem 525x0 upscale %}" alt="Card image cap">
            <div class="card-body">
                <p><strong class="card-text">{{ produto.nome }} </strong></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{{ produto.get_absolute_url }}"><button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button></a>
                </div>
                <h3> <strong class="card-text">R$ {{ produto.valor }}</strong></h3>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}


{% block js %}
  <script src="{% static 'js/ajax-pagination.js' %}"></script>
{% endblock %}