{% extends "base.html" %}
{% load thumbnail %}

{% block main %}

<div class="album py-5 bg-light">
    <div class="container">
    	<div class="row">
		    <div class="col-md-4 py-4">
		        <div class="card mb-6 box-shadow">
		          <img class="card-img-top" src="{% thumbnail produto.imagem 525x0 upscale %}" alt="Card image cap">
		        </div>
		    </div>
		    <div class="col-md-3 py-4">
		        <div class="card mb-6 box-shadow">
		          <div class="card-body">
		            <p class="card-text">{{ produto.nome }}</p>
		            <div class="d-flex justify-content-between align-items-center">
		              <small class="text-muted">R$ {{ produto.valor }}</small>
		            </div>
		          </div>
		        </div>
		        <div class="card mb-6 box-shadow">
		          <div class="card-body">
		            <p class="card-text">Descrição</p>
		            <p class="card-text">{{ produto.descricao }}</p>
		          </div>
		        </div>
		    </div>
		    <div class="col-md-2 py-4">
		    	
		    </div>
		    <div class="col-md-2 py-2">
	    		<h1>Comprar</h1>
				<form action="" method="POST">
		            {% csrf_token %}
	                {{ form }}
		            <button type="submit" class="btn btn-primary">Comprar</button>
		        </form>
		    </div>
    	</div>
    </div>
</div>

{% endblock %}