{% extends "base.html" %}
{% load thumbnail static %}

{% block title %}Loja{% endblock %}

{% block main %}
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row ajax-pagination" data-page='1' data-max_page="{{ paginator.num_pages }}" data-block='0'>
      {% for produto in object_list %}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{% thumbnail produto.imagem 525x0 crop %}" alt="Card image cap">
            <div class="card-body">
              <p><strong class="card-text">{{ produto.nome }}</strong></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{{ produto.get_absolute_url }}"><button type="button" class="btn btn-sm btn-outline-secondary">Ver detalhes</button></a>
                </div>
                <strong class="card-text">R$ {{ produto.valor }}</strong>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
  <script src="{% static 'js/ajax-pagination.js' %}"></script>
{% endblock %}