{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block main %}

<section class="text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Login</h1>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container-fluid">
        <section class="text-center">
            <div class="row">
                <div class="col-md-5">
                    
                </div>
                <div class="col-md-2">
                    {% if not user.is_authenticated %}
                        <p style="color: green">Por favor efetue o login!</p>
                    {% endif %}
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form }}
                            {% for error in form.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <button type="submit" class="btn btn-primary">Logar</button>
                    </form>
                </div>
                <div class="col-md-5">
                    
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}