{% extends "base.html" %}
{% load thumbnail %}

{% block title %}{{ object }} - Loja{% endblock %}

{% block main %}
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-6 box-shadow">
          <img class="card-img-top" src="{% thumbnail produto.imagem 525x0 upscale %}" alt="Card image cap">
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-6 box-shadow">
          <div class="card-body">
            <p><strong class="card-text">{{ object.nome }}</strong></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="{% if user.is_authenticated %}comprar{% else %} {% url 'login' %} {% endif %}"><button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button></a>
              </div>
              <h2><strong class="card-text">R$ {{ object.valor }}</strong></h2>
            </div>
          </div>
        </div>
        <div class="card mb-6 box-shadow">
          <div class="card-body">
            <p class="card-text">Descrição</p>
            <p class="card-text">{{ object.descricao }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}