{% extends "base.html" %}

{% block title %}Edição de Dados de Usuário{% endblock %}

{% block main %}
<section class="text-center">
    <div class="container">
        <h1 class="jumbotron-heading"> Edição de Dados de  {{ user.username }} </h1>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">
        <form action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.name }}_id">{{ field.label }}</label>
                    <input type="{{ field.field.widget.input_type }}" class="form-control{% if field.errors %} is-invalid{% endif %}" id="{{ field.name }}_id" name="{{ field.name }}" {% if field.value %}value="{{ field.value }}"{% endif %}>
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text}}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Editar</button>
        </form>
    </div>
</div>
{% endblock %}