{% extends "base.html" %}

{% block title %}{{ user.username }}{% endblock %}

{% block main %}

<div class="album py-5 bg-light">
    <div class="container-flui">
	    <h1>{{ user.username }}</h1>
	    {% if compras %}
		    <section class="text-center">
			    <table class="table">
					<thead class="thead-dark">
				    	<tr>
				      		<th scope="col">#</th>
				      		<th scope="col">Produto</th>
				      		<th scope="col">Valor</th>
				      		<th scope="col">Quantidade</th>
				      		<th scope="col">Forma de Pagamento</th>
				      		<th scope="col">Data</th>
				      		<th scope="col">Status</th>
				      		<th scope="col">Total</th>
				    	</tr>
					</thead>
					<tbody>
						{% for compra in compras %}
						    <tr>
						      	<th scope="row">{{ forloop.counter }}</th>
						      	<th><a href="{{ compra.produto.get_absolute_url }}">{{ compra.produto }}</a></th>
						    	<th>{{ compra.produto.valor }} R$</th>
						    	<td>{{ compra.quantidade}}</td>
						    	<th>{{ compra.get_forma_pagamento_display }}</th>
						    	<th>{{ compra.data }}</th>
						    	<th>{{ compra.get_status_display }}</th>
						    	<th>{{ compra.valor }} R$</th>
						    </tr>
						{% endfor %}
					</tbody>
				</table>
			</section>
		{% else %}
			<h2>Nenhuma compra realizada!</h2>
		{% endif %}
    </div>
</div>

{% endblock %}